
/* The Modal (background) */
.modal {    
    position: absolute; /* Stay in place */
    left: 0;
    top: -200vh;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: all .5s;
}

/* Modal Content */
.modal-content{
    position: relative;
    text-align: center;
    background-color: #fefefe;
    top: 100px;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.5s
}
.modal-content table{
    text-align: center;
    margin: auto;
    padding: 0;
    width: 100%;

}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background: #333333 url(images/overlay.png);
    background-size: cover;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background: #333333 url(images/overlay.png);
    background-size: cover;

}
#inicioSesion{
    color: white;
    font-size: 25px;
    margin-bottom: 0; 
}

#recuperarAcceso{
    color: blue;
    font-size: 14px;
    margin-bottom: 0; 

}

#titutloRegistrar{
    color: white;
    font-size: 25px;
    margin-bottom: 0; 
}   
/*TABLA DEL MODAL */



#tablaLogin {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
    overflow: auto;
}

#tablaLogin th, #tablaLogin td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}

#tablaLogin tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#tablaLogin tr.header, #tablaLogin tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}


#iniciarSesion{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
#iniciarSesion {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
#iniciarSesion:hover {opacity: 8}

#cancelarInicio{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
#cancelarInicio {
  background-color: #f44336;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
#cancelarInicio:hover {opacity: 8}
