#id_registro{
  display: none;
}

@media screen and (max-width: 766px) {
  .topnav2 a:not(:first-child) {display: none;}
  .topnav2 a.icono {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 766px) {
  .topnav2.responsive {position: relative;}
  .topnav2.responsive a.icono {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav2.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

#encargado{
    text-align: center; 
    margin-top: 0px;
    font-family: Arial Black; 
    font-weight: bold; font-size: 20px; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);

}

.btnMostrar{
  background-color: #58E56B;
  color: white;
}
#btn_regresar{
  background-color: #5888E5;
  color: white;
}
.btn_mas {
    border-radius: 6px;
    cursor: pointer;
}

.btn_mas:hover {
    color: white;
    background-color: #4691AA;
}

.modalConfirmacion {    
    position: fixed; /* Stay in place */
    left: 0;
    top: -500vh;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: all .5s;
}

/* Modal Content */
.modal-contentConfirmacion{
    position: relative;
    text-align: center;
    background-color: #fefefe;
    top: 100px;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.5s
}
.modal-headerConfirmacion table{
    text-align: center;
    margin: auto;
    padding: 0;
    width: 100%;

}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.closeConfirmacion {
    color: white;
    position: relative;
    margin-left: 95%;
    font-size: 28px;
    font-weight: bold;
}

.closeConfirmacion:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-headerConfirmacion {
    padding: 10px 16px;
    background: #333333 url(images/overlay.png);
    background-size: cover;
}

.modal-bodyConfirmacion {padding: 2px 16px;}

.modal-footerConfirmacion {
    padding: 8px 16px;
    background: #333333 url(images/overlay.png);
    background-size: cover;

}

#botonConfirmacion{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
#botonConfirmacion {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
#botonConfirmacion:hover {opacity: 8}

#confirmacion{
    text-align: center; 
    margin-top: 0px;
    font-family: Arial Black; 
    font-weight: bold; font-size: 20px; 
    background: #05AC53; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}

#paginacion {
  width: 1200px;
  margin-top: 20px;
  list-style-type: none;
  overflow: hidden;
  display: none;
}

#paginacion li {
    float: left;
}

#paginacion li a {
    display: block;
    color: white;
    background-color: #333;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#paginacion li a:link{
  color: #448;
}

#paginacion li a#current{
  background: #AAE;
}
#paginacion li a:hover {
    background-color: #000;
}

#paginacion .active{
  background:red;
  color: white;
}


@media screen and (max-width: 600px) {
    #btn_registrar{
      width: 100%;
      font-size: 14px;
    }
   tbody td {
     display: block;
     text-align:center;
   }
   #paginacion{
    width: 30%;
   }
}

#tabla,#tablaDirectorio,#tablaxinformacionDetallada{
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
    overflow: auto;
}

#tabla th, #tabla td, #tablaDirectorio th, #tablaxinformacionDetallada th,#tablaDirectorio td, #tablaxinformacionDetallada td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
    width: 25%;
}

#tabla tr, #tablaDirectorio tr, #tablaxinformacionDetallada tr  {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#tabla tr.header, #tabla tr:hover, #tablaDirectorio tr.header, #tablaDirectorio tr:hover, #tablaxinformacionDetallada tr.header, #tablaxinformacionDetallada tr:hover{
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

#tablaDirectorio p{
  color: black;
}

#actualizar{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
#actualizar {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
#actualizar:hover {opacity: 8}


#eliminar{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
#eliminar {
  background-color: #f44336;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
#eliminar:hover {opacity: 8}

#btn_registrar{
    padding:5px 20px 5px 20px; 
    background-color:#333; 
    color:#fff; 
    border:2px inset #6E6E6E; 
    margin-right:10px; 
    cursor:pointer;     
}

#buscar {
    width: 97.8%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#tituloCabecera{

    text-align: center; 
    font-family: Arial Black; 
    font-weight: bold; font-size: 30px; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}

#opcionesMenu{
    display: none;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 10px;

    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,216,218,1) 50%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(218,216,218,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,216,218,1) 50%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,216,218,1) 50%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,216,218,1) 50%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(218,216,218,1) 50%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

#nav_Menu {
    overflow: hidden;
    background: #202020;
}
#nav_Menu ul {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    list-style: none;
    line-height: normal;
    text-align: center;
}
#nav_Menu li {
    display: inline-block;
}
#nav_Menu a {
    display: block;
    padding: 0px 50px 0px 40px;
    line-height: 70px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    /*color: rgba(150, 123, 77);*//*Amarillo Oscuro*/
    /*color: rgba(60, 118, 118);*//*Azul Oscuro*/
    color: rgba(128, 59, 95);
    border: none;
}
#nav_Menu a:hover {
    text-decoration: none;
    /*color: rgba(255, 180, 51); Amarillo*/
    /*color: rgba(80, 252, 254);*//*Azul*/
    color: rgba(254, 68, 166);
}
#nav_Menu .last {
    border-right: none;
}
.contenedor {
    margin:0px auto;
}

input[type=text]{
  width: 75%;
  text-align: center;

}
@media screen and (max-width: 600px) {
  input[type=text] {
    width: 100%;
    margin-top: 0;
  }
}
