#encargado{
    text-align: center; 
    margin-top: 0px;
    font-family: Arial Black; 
    font-weight: bold; font-size: 20px; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);

}

#buscar {
    width: 97.8%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#tabla,#tablaDirectorio{
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#tabla th, #tabla td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}

#tabla tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#tabla tr.header, #tabla tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

#tablaDirectorio tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#tablaDirectorio tr.header, #tablaDirectorio tr:hover{
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}
#tablaDirectorio input{
    font-size: 15px;
    text-align: center;
    background-color: #fff; 
    border: none;
}

/* The Modal (background) */
.modal {    
    position: fixed; /* Stay in place */
    left: 0;
    top: -500vh;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: all .7s;
}

/* Modal Content */
.modal-content{
    position: relative;
    text-align: center;
    background-color: #fefefe;
    top: 100px;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.7s
}
.modal-content table{
    text-align: center;
    margin: auto;
    padding: 0;
    width: 100%;

}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background: #333333 url(images/overlay.png);
    background-size: cover;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background: #333333 url(images/overlay.png);
    background-size: cover;

}
#cedulaDetalle{
    color: white;
    font-size: 25px;
    margin-bottom: 0; 
}

#titutloRegistrar{
    color: white;
    font-size: 25px;
    margin-bottom: 0; 
}
/*TABLA DEL MODAL */


#tablaxinformacionDetallada {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
    overflow: auto;
}

#tablaxinformacionDetallada th, #tablaxinformacionDetallada td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}

#tablaxinformacionDetallada tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#tablaxinformacionDetallada tr.header, #tablaxinformacionDetallada tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

#actualizarIntegrante {
  background-color: white;
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
#actualizarIntegrante:hover {opacity: 8}

#cancelarActualizacion{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
#cancelarActualizacion {
  background-color: #f44336;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
#cancelarActualizacion:hover {opacity: 8}

#ventanaRegistrar{
    padding:5px 20px 5px 20px; 
    background-color:#333; 
    color:#fff; 
    border:2px inset #6E6E6E; 
    margin-right:10px; 
    cursor:pointer;     
}


.modalRegistro {    
    position: fixed; /* Stay in place */
    left: 0;
    top: -500vh;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: all .7s;
}

/* Modal Content */
.modal-contentRegistrar{
    position: relative;
    text-align: center;
    background-color: #fefefe;
    top: 100px;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.7s
}
.modal-contentRegistrar table{
    text-align: center;
    margin: auto;
    padding: 0;
    width: 100%;

}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.closeRegistrar {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeRegistrar:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-headerRegistrar {
    padding: 2px 16px;
    background: #333333 url(images/overlay.png);
    background-size: cover;
}

.modal-bodyRegistrar {padding: 2px 16px;}

.modal-footerRegistrar {
    padding: 2px 16px;
    background: #333333 url(images/overlay.png);
    background-size: cover;

}

#cancelarRegistro{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
#cancelarRegistro {
  background-color: #f44336;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
#cancelarRegistro:hover {opacity: 8}

#registrarIntegrante{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
#registrarIntegrante {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
#registrarIntegrante:hover {opacity: 8}

/*TABLA DEL MODAL */


#tablaxRegistrar {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
    overflow: auto;
}

#tablaxRegistrar th, #tablaxRegistrar td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}

#tablaxRegistrar tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#tablaxRegistrar tr.header, #tablaxRegistrar tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}
=======
/*PERSONALIZACION DE LA CABECERA Y MENU DE OPCIONES */

#encargado{
    text-align: center; 
    margin-top: 0px;
    font-family: Arial Black; 
    font-weight: bold; font-size: 20px; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);

}
#tituloCabecera{

    text-align: center; 
    font-family: Arial Black; 
    font-weight: bold; font-size: 30px; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}

#opcionesMenuDirectorio{
    display: block;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 10px;

    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,216,218,1) 50%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(218,216,218,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,216,218,1) 50%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,216,218,1) 50%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,216,218,1) 50%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(218,216,218,1) 50%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

    

/***************************************************************************************************/

#buscar {
    width: 97.8%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#tabla,#tablaDirectorio{
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#tabla th, #tabla td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}

#tabla tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#tabla tr.header, #tabla tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

#tablaDirectorio tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#tablaDirectorio tr.header, #tablaDirectorio tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}
#tablaDirectorio input{
    font-size: 15px;
    text-align: center;
    background-color: #fff; 
    border: none;
}

/* The Modal (background) */
.modal {    
    position: fixed; /* Stay in place */
    left: 0;
    top: -500vh;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: all .7s;
}

/* Modal Content */
.modal-content{
    position: relative;
    text-align: center;
    background-color: #fefefe;
    top: 100px;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.7s
}
.modal-content table{
    text-align: center;
    margin: auto;
    padding: 0;
    width: 100%;

}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background: #333333 url(images/overlay.png);
    background-size: cover;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background: #333333 url(images/overlay.png);
    background-size: cover;

}
#cedulaDetalle{
    color: white;
    font-size: 25px;
    margin-bottom: 0; 
}

#titutloRegistrar{
    color: white;
    font-size: 25px;
    margin-bottom: 0; 
}
/*TABLA DEL MODAL */


#tablaxinformacionDetallada {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
    overflow: auto;
}

#tablaxinformacionDetallada th, #tablaxinformacionDetallada td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}

#tablaxinformacionDetallada tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#tablaxinformacionDetallada tr.header, #tablaxinformacionDetallada tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

#actualizarIntegrante{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
#actualizarIntegrante {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
#actualizarIntegrante:hover {opacity: 8}

#cancelarActualizacion{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
#cancelarActualizacion {
  background-color: #f44336;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
#cancelarActualizacion:hover {opacity: 8}

#ventanaRegistrar{
    padding:5px 20px 5px 20px; 
    background-color:#333; 
    color:#fff; 
    border:2px inset #6E6E6E; 
    margin-right:10px; 
    cursor:pointer;     
}


.modalRegistro {    
    position: fixed; /* Stay in place */
    left: 0;
    top: -500vh;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: all .7s;
}

/* Modal Content */
.modal-contentRegistrar{
    position: relative;
    text-align: center;
    background-color: #fefefe;
    top: 100px;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.7s
}
.modal-contentRegistrar table{
    text-align: center;
    margin: auto;
    padding: 0;
    width: 100%;

}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.closeRegistrar {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeRegistrar:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-headerRegistrar {
    padding: 2px 16px;
    background: #333333 url(images/overlay.png);
    background-size: cover;
}

.modal-bodyRegistrar {padding: 2px 16px;}

.modal-footerRegistrar {
    padding: 2px 16px;
    background: #333333 url(images/overlay.png);
    background-size: cover;

}

#cancelarRegistro{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
#cancelarRegistro {
  background-color: #f44336;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
#cancelarRegistro:hover {opacity: 8}

#registrarIntegrante{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
#registrarIntegrante {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
#registrarIntegrante:hover {opacity: 8}

/*TABLA DEL MODAL */


#tablaxRegistrar {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
    overflow: auto;
}

#tablaxRegistrar th, #tablaxRegistrar td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}

#tablaxRegistrar tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#tablaxRegistrar tr.header, #tablaxRegistrar tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}
>>>>>>> d2da1ee9c40975124fbec9d36165c09a67192592

#paginacion {
    list-style-type: none;
    overflow: hidden;
}


#paginacion li {
    float: left;
}

#paginacion li a {
    display: block;
    color: white;
    background-color: #333;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#paginacion li a:hover {
    background-color: #000;
}




.modalConfirmacion {    
    position: fixed; /* Stay in place */
    left: 0;
    top: -500vh;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: all .7s;
}

/* Modal Content */
.modal-contentConfirmacion{
    position: relative;
    text-align: center;
    background-color: #fefefe;
    top: 100px;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.7s
}
.modal-headerConfirmacion table{
    text-align: center;
    margin: auto;
    padding: 0;
    width: 100%;

}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.closeConfirmacion {
    color: white;
    position: relative;
    margin-left: 95%;
    font-size: 28px;
    font-weight: bold;
}

.closeConfirmacion:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-headerConfirmacion {
    padding: 10px 16px;
    background: #333333 url(images/overlay.png);
    background-size: cover;
}

.modal-bodyConfirmacion {padding: 2px 16px;}

.modal-footerConfirmacion {
    padding: 8px 16px;
    background: #333333 url(images/overlay.png);
    background-size: cover;

}

#botonConfirmacion{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
#botonConfirmacion {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
#botonConfirmacion:hover {opacity: 8}

#confirmacion{
    text-align: center; 
    margin-top: 0px;
    font-family: Arial Black; 
    font-weight: bold; font-size: 20px; 
    background: #05AC53; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}

#actualizar{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
#actualizar {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
#actualizar:hover {opacity: 8}


#eliminar{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
#eliminar {
  background-color: #f44336;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
#eliminar:hover {opacity: 8}