

/*Inicio del Cuerpo y del contenido de la página*/
.main{
  background: #A9A9A9;
  /*padding: 5px;*/
}

.color1{
  background: #34495e;
  color: #fff;
}

.color2{
  background: #14415a;
  color: #fff;
}

.color3{
  background: #7FFFD4;
  color: #000;
}

.color4{
  color: #000;
}

.color5{
  /*background: #7e7e7e;*/
  font-size: 12px;
}

aside{
  background: #fff;
  color: #fff;
}





/*Vertical Carousel*/
.carousel-inner,.carousel,.carousel-item,.contain,.fill {  /*.carousel-item  */
    height:100%;
    min-height:400px;
    width:100%;
    background-position:center center;
    background-size:cover;
}

.aside{display:inline;}
.aside .contain{padding:0;}


/*
.btn btn-primary{
    display: inline-block;
    margin-top: 2em;
    padding: 0em 1em;
    background: #970A42;
    border-radius: 8px;
    letter-spacing: 0.10em;
    line-height: 3em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    color: #FFF;
}
*/

#iconos{
  font-size: 48px; 
  color: #000;
}


#menudos{

  border: 1px solid rgba(0,0,0,.05);
}

#textosComplementarios{
  text-align: justify;
  font-size: 15px;
}
  #portfolio-wrapper
  {
    overflow: hidden;
    padding: 5em 0em;
    background: rgba(0,0,0,.02);
    border-top: 1px solid rgba(0,0,0,.05);
  }

  #portfolio
  {
    text-align: center;
  }

  #portfolio .title h2
  {
    color: rgba(0,0,0,0.8);
  }

  #portfolio .title .byline
  {
    display: block;
    padding-bottom: 2em;
    color: rgba(0,0,0,0.7);
  }

  #columns{
    width: 100%;
  }

  #columns .column1, #columns .column2, #columns .column3{
    width: 600px;
    display: table-cell;
  }

    .button
  {
    transition-duration: 0.4s;
    display: inline-block;
    margin-top: 2em;
    padding: 0em 1em;
    background: #1AB0B4;
    border-radius: 8px;
    letter-spacing: 0.10em;
    line-height: 3em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    color: #FFF;
  }
  .button:hover{
    background: #189A9D;
    transition-duration: 0.4s;
    color: white;
  }

@media screen and (max-width: 766px) {
  #portfolio-wrapper {
    font-size: 15px;
  }
}@media screen and (max-width: 766px) {
  #columns .column1, #columns .column2, #columns .column3 {
    width: 200px;
    display: inline-block;
    
  }
}

#imagen{
  width: 100%;
}